; begin auth token
//pkgs.dev.azure.com/Derivco/_packaging/NPMGet/npm/registry/:username=xxx
//pkgs.dev.azure.com/Derivco/_packaging/NPMGet/npm/registry/:_password=xxx
//pkgs.dev.azure.com/Derivco/_packaging/NPMGet/npm/registry/:email=xxx@gmail.com
//pkgs.dev.azure.com/Derivco/_packaging/NPMGet/npm/:username=xxx
//pkgs.dev.azure.com/Derivco/_packaging/NPMGet/npm/:_password=xxx
//pkgs.dev.azure.com/Derivco/_packaging/NPMGet/npm/:email=xxx@gmail.com
; end auth token
